@import './colors.scss';

body{
  background-color: $grey;
}

.app {

  main > div > .container {
    padding-top: 5rem;
    padding-bottom: 8rem;
  }

  .icon{
    margin: 0;
    height: auto;
  }

  .msg{
    text-align: center;
    font-weight: 600;

    &.error{
      color: $red;
    }

    &.success{
      color: $green;
    }
  }

  .pokecoin{
    width: 25px;
    vertical-align: middle;
    display: inline-block;
    margin-left: .25rem;
  }
}