@import '../colors.scss';

#login, #register{

  h2{
    color: $red;
    font-size: 2.5rem;
    border-bottom: 4px solid;
    padding-bottom: .5rem;
    margin-bottom: 4rem;
  }

  label{
    color: $black;
  }

  input{
    border: none;
    color: $black;
    padding: 1rem .75rem;
    box-shadow: 0 0 .25rem rgba($black, .2);
  }

  button{
    width: 100%;
    padding: 1rem .75rem;
    box-shadow: 0 0 .25rem rgba($black, .2);
    background: rgba($blue, .8);
    color: $white;

    &:hover{
      box-shadow: 0 0 .25rem rgba($black, .5);
    }

    &:focus{
      box-shadow: 0 0 .25rem rgba($black, .7);
      background: $blue;
    }
  }

  .actions{
    text-align: center;
    margin: 1rem 0;

    a{
      color: $black;
      display: inline-block;

      &:hover{
        text-decoration: underline;
      }
    }
  }
  
}