@import '../colors.scss';

#profile{

  h2{
    color: $red;
    font-size: 2.5rem;
    border-bottom: 4px solid;
    padding-bottom: .5rem;
    margin-bottom: 4rem;
  }

  h3{
    color: $black;
    padding-bottom: .5rem;
    border-bottom: 2px solid;
  }

  .cart-link{
    display: inline-block;
    background: rgba($red, .9);
    color: $white;
    border-radius: .25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 .25rem rgba($black, .2);
    padding: .5rem 1rem;

    .icon{
      margin-right: .5rem;
    }

    &:hover{
      box-shadow: 0 0 .5rem rgba($black, .5);
      background: $red;
    }
  }

  .wallet{

    
    .wallet-content{
      display: inline-block;
      margin-right: 1rem;
      display: inline-block;
    }

    .add-money{
      cursor: pointer;
      background: rgba($black, .1);
      color: $white;
      padding: .25rem .5rem;
      border-radius: 50%;
      box-shadow: 0 0 .25rem rgba($black, .4);
      vertical-align: middle;
      display: inline-block;

      .coin-bag{
        width: 40px;
      }

      &:hover{
        background: rgba($black, .95);
        box-shadow: 0 0 .5rem rgba($black, .5);
      }
    }
  }

  .order-history{
    margin-top: 2em;

    .history{
      list-style-type: none;
      padding: 0;
      color: $black;

      .order{
        display: block;
        background: $white;
        border-radius: .25rem;
        box-shadow: 0 0 .25rem rgba($black, .2);
        margin-bottom: 1rem;

        a{
          padding: .5rem 1rem;
          display: block;
          color: $black;
        }

        &:hover{
          box-shadow: 0 0 .5rem rgba($black, .3);
        }
      }
    }
  }

  form{
    margin-bottom: 4rem;

    label{
      color: $black;
    }
  
    input{
      border: none;
      padding: 1rem .75rem;
      box-shadow: 0 0 .25rem rgba($black, .2);
      color: $black;
      
      &:read-only{
        background: rgba($black, .05);
      }
    }
  
    button{
      width: 100%;
      padding: 1rem .75rem;
      box-shadow: 0 0 .25rem rgba($black, .2);
      background: rgba($blue, .8);
      color: $white;
  
      &:hover{
        box-shadow: 0 0 .25rem rgba($black, .5);
      }
  
      &:focus{
        box-shadow: 0 0 .25rem rgba($black, .7);
        background: $blue;
      }
    }
  }

  .acc-deletion{
    color: $red;
    text-decoration: underline;

    &:hover{
      text-decoration: none;
    }
  }

}