@import '../colors.scss';

.product{
  margin-bottom: 2rem;
  border-radius: .5rem;
  position: relative;
  background: #fefefe;
  box-shadow: 0 0 .25rem rgba($black, .5);

  a{
    display: block;
    color: $black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    &:hover{
      
      .item-name{
        color: $blue;
      }
    }  
  }

  .item-infos{
  
    .item-sprite{
      width: 50px;
      display: inline-block;
    }
  
    .item-name{
      margin-top: 0;
      margin-bottom: .25rem;
      color: $black;
    }
  
    .item-cost{
      color: $black;
  
      .pokedollar{
        width: 9px;
      }
    }

  }


  .add-to-cart{
    padding: .4rem 0;
    background: rgba($red, .95);
    color: $white;
    cursor: pointer;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  
    &.sold-out{
      cursor: default;
      background: $red;
      text-transform: uppercase;
      font-weight: 600;

      &:hover{
        background: $red;
      }
    }

    &:hover{
      background: $red;
    }
  }

  &:hover{
    box-shadow: 0 0 1rem rgba($black, .6);
    background: $white;
  }

}