@import '../colors.scss';

.item-details{
  padding-top: 5rem; 
  padding-bottom: 5rem;

  .header{
    text-align: center;

    .item-sprite{
      width: 50px;
      display: inline-block;
    }
  
    .item-name{
      margin-top: 0;
      margin-bottom: 5rem;
      color: $black;
    }
  
  }

  .body{
    background: $white;
    box-shadow: 0 0 .5rem rgba($black, .2);

    .item-infos{
      padding-bottom: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;

      .detail{
        margin-bottom: 2rem;
      }
    
      .label{
        display: inline-block;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: .5rem;
        color: inherit;
        letter-spacing: .05rem;
      }
    }
  }

}