@import '../colors.scss';

.product{
  margin-bottom: 2rem;
  border-radius: .5rem;
  position: relative;
  background: #fefefe;
  box-shadow: 0 0 .25rem rgba($black, .5);
  padding-top: 1rem;

  .item-sprite{
    width: 50px;
    display: inline-block;
  }

  a{
    color: $black;
    
    &:hover{
      color: $blue;
    }

    .item-name{
      margin-top: 0;
      margin-bottom: .25rem;
      color: inherit;
    }
  }


  .item-cost{
    color: $black;

    .sold-out{
      color: $red;
      text-transform: uppercase;
    }

    .pokedollar{
      width: 9px;
    }

  }

  .add-to-cart{
    margin-top: 1rem;
    padding: .4rem 0;
    background: rgba($blue, .8);
    color: $white;
    cursor: pointer;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    box-shadow: inherit;

    &:hover{
      background: $blue;
    }
  }

  &:hover{
    box-shadow: 0 0 1rem rgba($black, .6);
    background: $white;
  }

}