@import '../colors.scss';

#pagination{
  display: flex;
  flex-direction: row;
  text-align: center;
  width: max-content;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;

  .prev, .next{
    
    &:hover{
    }
  }

  .curr{
    margin: 0 1rem;
  }
}